{% extends "base.html" %}

{% set active_page = 'users' -%}

{% block page_content %}


<table class="table table-bordered">
    <thead>
        <tr>
        	<th>id</th>
            <th>name</th>
            <th>age</th>
            <th>sexe</th>
            <th>ticket price</th>
            <th>survived?</th>
        <tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr class={% if user.survived %}'success'{% else %}'danger'{% endif %}>
        	<td>{{ user.id_ }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.sexe }}</td>
            <td>{{ user.ticket_price }}</td>
            <td>{{ user.survived }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
